[Unit]
Description=Run certbot renewal test every 10 minutes
Requires=certbot-renewal-test.service

[Timer]
OnCalendar=*:0/10
RandomizedDelaySec=15
Persistent=true

[Install]
WantedBy=timers.target
